h1{
  color: pink;
}

h3{
  color: rgb(158, 212, 210);
}

.logo{
  text-align: center;
  padding: 30px;
}

.nav{
  background-color: rgb(158, 212, 210);
}

.nav a{
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.jumbotron-fluid{
  background-image: url(../images/Designer.png);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-bottom: 30px solid rgb(158, 212, 210);
}

.jumbotron h1{
  font-weight: 500;
}

.inspo{
  text-align: end;
  background-image: url(../images/Inspo.png);
  background-repeat: no-repeat;
  padding: 120px 100px !important;
  background-color: white !important;
  background-position-x: 10%;
  background-position-y: center;
  border-bottom: 30px solid rgb(158, 212, 210);
}

.draft{
  background-image: url(../images/Draft.png);
  background-repeat: no-repeat;
  padding: 120px 100px !important;
  background-color: white !important;
  background-position-x: 90%;
  background-position-y: center;
  border-bottom: 30px solid rgb(158, 212, 210);
}

.sew{
  text-align: end;
  background-image: url(../images/Create.png);
  background-repeat: no-repeat;
  padding: 120px 100px !important;
  background-color: white !important;
  background-position-x: 10%;
  background-position-y: center;
  border-bottom: 30px solid rgb(158, 212, 210);
}

.btn-primary{
 background: pink !important;
 border: 0px !important;
}

.rh{
  text-align: center;
  justify-content: center !important;
  padding: 20px;
}

.card{
  margin: 15px;
}

.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer{
  justify-content: space-around!important;
  background-color: rgb(158, 212, 210) !important;
  padding: 25px;
}


.list-group{
  background: rgb(158, 212, 210) !important;
}

.list-group-flush{
  background: rgb(158, 212, 210) !important;
}

.list-group-item{
  background: rgb(158, 212, 210) !important;
  color: white;
}

#footer{
  background-color: rgb(158, 212, 210);
  color: rgb(158, 212, 210);
  background: rgb(158, 212, 210);
}

